.hidden {
  display: none;
}

.result-separator {
  height: 60px;
}

.tree-node-status-container {
  flex-grow: 2;
  padding-left: 20px;
}

.tree-node-status {
  display: flex;
  flex-flow: column;
  text-align: right;
}

.mode-summary-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.mode-bar-container {
  display: flex;
  flex-flow: row;
  width: 25vw;
}

.mode-result-text {
  flex-grow: 1;
  padding-right: 5px;
}

.tree-node-name {
  margin-left: 10px;
}

.node {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 10px;
}
